@import "index" * {
  margin: 4px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}

#fraseintro {
  display: flex;
  color: #e94e1b;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding-bottom: 8px;
  padding-top: 20px;
  text-align: left;
}
.parrafo1 {
  color: #5b656f;
}

.navlist {
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  list-style-position: outside;
  color: #12a19a;
  font-weight: 400;
}

.navitem {
  margin: 0 0 0 1rem;
}

.navlink {
  color: #94c11f;
  text-decoration: none;
}

.navlink:hover,
.navlink:focus {
  color: #12a19a;
}
.div1 {
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 250px;
  align-items: center;
  grid-column-gap: 200px;
  justify-items: end;
}

#mundo {
  color: red;
}

h2 {
  color: #e94e1b;
}
.tituloformulario {
  color: #e94e1b;
}
p {
  color: #5b656f;
  font-size: 20px;
}
.tituloformulario {
  position: relative;
}
form {
  color: #5b656f;
  align-items: center;
}
select {
  color: #12a19a;
}
.boton1 {
  width: 180px;
  height: 50px;
  color: #ffffff;
  border-radius: 12px;
  font-size: 20px;
  background-color: #94c11f;
  box-shadow: 1px 0px 4px 4px #afafaf40;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  border: none;
}
.boton1:hover {
  background-color: #12a19a;
}

.boton1:before {
  content: "";
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  position: absolute;
  transform: translatex(-100%) rotate(45deg);
  transition: all 0.3s;
}

.boton1:hover:before {
  transform: translatex(100%) rotate(45deg);
}

.boton2 {
  border: 2px solid #e94e1b;
  background: none;
  color: #e94e1b;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 15px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 1px 0px 4px 4px #afafaf40;
}
.boton2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: #e94e1b;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  transition: all 0.5s;
}
.boton2:hover:before {
  height: 190%;
}

.boton2:hover {
  color: #ffffff;
}

.boton3 {
  border-radius: 20px;
  border: 2px solid #e94e1b;
  background: none;
  color: #e94e1b;
  cursor: pointer;
  font-size: 20px;
  padding: 15px 30px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 1px 0px 4px 4px #afafaf40;
}
.boton3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: #e94e1b;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  transition: all 0.5s;
}
.boton3:hover:before {
  height: 100%;
}

.boton3:hover {
  color: #94c11f;
}

.titulopagina {
  color: #94c11f;
  padding-top: 25px;
  padding-bottom: 25px;
}
.pregunta {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: lighter;
  color: #12a19a;
  padding-top: 20px;
  padding-bottom: 15px;
}
.respuesta {
  color: #423e3f;
  padding-bottom: 15px;
}

.footerback {
  position: initial;
  width: 900px;
}

* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

section {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 100px;
}

article {
  display: flex;
  flex: 0 1 300px;
  flex-direction: column;
  border-color: #e94e1b;
  border-radius: 1rem;
  padding: 2rem;
  width: 500px;
}

article img {
  order: -1;
  align-self: center;
  height: 254px;
}

article button {
  background: #e94e1b;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
  align-self: center;
  width: 200px;
}
.prod {
  box-shadow: 1px 0px 4px 4px #afafaf40;
  padding-bottom: 60px;
}
#ejemplosgastos {
  display: flex;
  flex: 100px 100px 10px 100px 100px;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

.banderas {
  display: flex;
  flex-direction: column;
  border-color: #e94e1b;
  border-radius: 12px;
  padding: 2rem;
  width: px;
  box-shadow: 1px 0px 4px 4px #afafaf40;
}

.banderas img {
  order: -1;
  align-self: center;
  height: 70px;
}

.tituloejemplos {
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 30px;
  color: #12a19a;
  font-family: "Montserrat", sans-serif;
}

#motivos {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  flex-wrap: wrap;
  padding-top: 30px;
  box-shadow: none;
}

.iconos img {
  order: -1;
  align-self: center;
  height: 70px;
  box-shadow: none;
}
.titulomotivos {
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 30px;
  color: #94c11f;
  font-family: "Montserrat", sans-serif;
  box-shadow: none;
}
.titulopasos {
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 30px;
  color: #e94e1b;
  font-family: "Montserrat", sans-serif;
  box-shadow: none;
}

#pasos {
  padding-top: 50px;
  padding-bottom: 100px;
}

.nosotros {
  padding-bottom: 20px;
}
